@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #171717; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins); /* Apply Poppins globally */
}

.font-sans {
  font-family: var(--font-poppins);
}
.bobi{
  /* border: 3px solid rgb(255, 0, 0); */
}
.bobi2{
  /* border: 1px solid blue; */
}
ul li{
  list-style: none;
}

.logo{
  /* font-size: 20px; */
}


select{
  appearance: none;
}